.site-header {
    background-color: #3FCAE3;
    //overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 999;
    .site-brand {
        float: left;
        display: table;
        padding: 2rem;
        span {
            display: table-cell;
            vertical-align: middle;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
        }
    }
    .site-navbar {
        float: left;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            a {
                display: block;
                font-size: 1.8rem;
                padding: 2rem;
                line-height: 2rem;
                color: white;
            }
            span {
                margin-left: 5px;
                vertical-align: middle;
                font-size: 1rem;
                color: white;
            }
            ul {
                position: absolute;
                z-index: 999;
                display: none;
                border-bottom: 3px solid #3FCAE3;
                li {
                    display: inline;
                    a {
                        font-size: 1.6rem;
                        padding: 1rem;
                        background-color: #fff;
                        color: #3FCAE3;
                    }
                }
            }
        }
        li:hover ul {
            display: block;
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .show-menu {
    	float: right;
    	display: none;
    	position: absolute;
    	right: 0;
    	button {
    		background-color: transparent;
    		color: #000;
    		border: 0;
    		padding: 2rem;
    		outline: none;
    		span{
    			font-size: 2rem;
    		}
    	}
    }
}

@media only screen and (max-width: 650px) {
    .site-header {
    	background-color: #fff;
        .site-brand {
            width: 100%;
            float: left;
            span {
            	color: black;
            }
        }
        .site-navbar {
            width: 100%;
            float: left;
            > ul {
            	width: 100%;
            	display: none;
                > li {
                    display: inline;
                    > a{
                    	background-color: #3FCAE3;
                    	padding: 1rem;
                    	border-bottom: 1px solid #fff;
                    }
                    ul {
                    	width: 100%;
                    }
                }
            }
        }
        .show-menu {
        	display: block;
        }
    }
}
