@import "modules/_global_variables";
@import "partials/_site-header";

html, body {
    height: 100%;
}

html { font-size: 62.5%; } 

body {
    font-size: $defaultFontSize;
}

a{
    color:black;
}

a:hover, a:visited{
    text-decoration: none;
    color:black;
}

.site-content{
    margin-top: $siteHeaderHeight;
    background-color: lightgray;
    height: 100%;
    padding: 10px;
}

@media only screen and (max-width: 430px) {
	html { font-size: 50%; } 	
}

