/* line 1, ../../sass/menu/partials/_site-header.scss */
.site-header {
  background-color: #3FCAE3;
  overflow: hidden;
  width: 100%;
}
/* line 7, ../../sass/menu/partials/_site-header.scss */
.site-header .site-brand {
  float: left;
  display: table;
  padding: 2rem;
}
/* line 11, ../../sass/menu/partials/_site-header.scss */
.site-header .site-brand span {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
/* line 19, ../../sass/menu/partials/_site-header.scss */
.site-header .site-navbar {
  float: left;
}
/* line 22, ../../sass/menu/partials/_site-header.scss */
.site-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 26, ../../sass/menu/partials/_site-header.scss */
.site-header ul li {
  display: inline-block;
}
/* line 28, ../../sass/menu/partials/_site-header.scss */
.site-header ul li a {
  display: block;
  font-size: 1.8rem;
  padding: 2rem;
  line-height: 2rem;
  color: white;
}
/* line 35, ../../sass/menu/partials/_site-header.scss */
.site-header ul li span {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 1rem;
  color: white;
}
/* line 41, ../../sass/menu/partials/_site-header.scss */
.site-header ul li ul {
  position: absolute;
  display: none;
  border-bottom: 3px solid #3FCAE3;
}
/* line 45, ../../sass/menu/partials/_site-header.scss */
.site-header ul li ul li {
  display: inline;
}
/* line 47, ../../sass/menu/partials/_site-header.scss */
.site-header ul li ul li a {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #fff;
  color: #3FCAE3;
}
/* line 56, ../../sass/menu/partials/_site-header.scss */
.site-header ul li:hover ul {
  display: block;
}
/* line 58, ../../sass/menu/partials/_site-header.scss */
.site-header ul li:hover ul a:hover {
  text-decoration: underline;
}
/* line 63, ../../sass/menu/partials/_site-header.scss */
.site-header .show-menu {
  float: right;
  display: none;
  position: absolute;
  right: 0;
}
/* line 68, ../../sass/menu/partials/_site-header.scss */
.site-header .show-menu button {
  background-color: transparent;
  color: #000;
  border: 0;
  padding: 2rem;
  outline: none;
}
/* line 74, ../../sass/menu/partials/_site-header.scss */
.site-header .show-menu button span {
  font-size: 2rem;
}

@media only screen and (max-width: 650px) {
  /* line 82, ../../sass/menu/partials/_site-header.scss */
  .site-header {
    background-color: #fff;
  }
  /* line 84, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-brand {
    width: 100%;
    float: left;
  }
  /* line 87, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-brand span {
    color: black;
  }
  /* line 91, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar {
    width: 100%;
    float: left;
  }
  /* line 94, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul {
    width: 100%;
    display: none;
  }
  /* line 97, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul > li {
    display: inline;
  }
  /* line 99, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul > li > a {
    background-color: #3FCAE3;
    padding: 1rem;
    border-bottom: 1px solid #fff;
  }
  /* line 104, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul > li ul {
    width: 100%;
  }
  /* line 110, ../../sass/menu/partials/_site-header.scss */
  .site-header .show-menu {
    display: block;
  }
}
/* line 6, ../../sass/menu/menu.scss */
html, body {
  height: 100%;
}

/* line 10, ../../sass/menu/menu.scss */
html {
  font-size: 62.5%;
}

/* line 12, ../../sass/menu/menu.scss */
body {
  font-size: 1.4rem;
}

/* line 16, ../../sass/menu/menu.scss */
a {
  color: black;
}

/* line 20, ../../sass/menu/menu.scss */
a:hover, a:visited {
  text-decoration: none;
  color: black;
}

/* line 25, ../../sass/menu/menu.scss */
.site-content {
  background-color: gray;
  height: 100%;
}

@media only screen and (max-width: 430px) {
  /* line 32, ../../sass/menu/menu.scss */
  html {
    font-size: 50%;
  }
}
