/* line 1, ../../sass/menu/partials/_site-header.scss */
.site-header {
  background-color: #3FCAE3;
  position: fixed;
  width: 100%;
  z-index: 999;
}
/* line 7, ../../sass/menu/partials/_site-header.scss */
.site-header .site-brand {
  float: left;
  display: table;
  padding: 2rem;
}
/* line 11, ../../sass/menu/partials/_site-header.scss */
.site-header .site-brand span {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
/* line 19, ../../sass/menu/partials/_site-header.scss */
.site-header .site-navbar {
  float: left;
}
/* line 22, ../../sass/menu/partials/_site-header.scss */
.site-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 26, ../../sass/menu/partials/_site-header.scss */
.site-header ul li {
  display: inline-block;
}
/* line 28, ../../sass/menu/partials/_site-header.scss */
.site-header ul li a {
  display: block;
  font-size: 1.8rem;
  padding: 2rem;
  line-height: 2rem;
  color: white;
}
/* line 35, ../../sass/menu/partials/_site-header.scss */
.site-header ul li span {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 1rem;
  color: white;
}
/* line 41, ../../sass/menu/partials/_site-header.scss */
.site-header ul li ul {
  position: absolute;
  z-index: 999;
  display: none;
  border-bottom: 3px solid #3FCAE3;
}
/* line 46, ../../sass/menu/partials/_site-header.scss */
.site-header ul li ul li {
  display: inline;
}
/* line 48, ../../sass/menu/partials/_site-header.scss */
.site-header ul li ul li a {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #fff;
  color: #3FCAE3;
}
/* line 57, ../../sass/menu/partials/_site-header.scss */
.site-header ul li:hover ul {
  display: block;
}
/* line 59, ../../sass/menu/partials/_site-header.scss */
.site-header ul li:hover ul a:hover {
  text-decoration: underline;
}
/* line 64, ../../sass/menu/partials/_site-header.scss */
.site-header .show-menu {
  float: right;
  display: none;
  position: absolute;
  right: 0;
}
/* line 69, ../../sass/menu/partials/_site-header.scss */
.site-header .show-menu button {
  background-color: transparent;
  color: #000;
  border: 0;
  padding: 2rem;
  outline: none;
}
/* line 75, ../../sass/menu/partials/_site-header.scss */
.site-header .show-menu button span {
  font-size: 2rem;
}

@media only screen and (max-width: 650px) {
  /* line 83, ../../sass/menu/partials/_site-header.scss */
  .site-header {
    background-color: #fff;
  }
  /* line 85, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-brand {
    width: 100%;
    float: left;
  }
  /* line 88, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-brand span {
    color: black;
  }
  /* line 92, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar {
    width: 100%;
    float: left;
  }
  /* line 95, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul {
    width: 100%;
    display: none;
  }
  /* line 98, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul > li {
    display: inline;
  }
  /* line 100, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul > li > a {
    background-color: #3FCAE3;
    padding: 1rem;
    border-bottom: 1px solid #fff;
  }
  /* line 105, ../../sass/menu/partials/_site-header.scss */
  .site-header .site-navbar > ul > li ul {
    width: 100%;
  }
  /* line 111, ../../sass/menu/partials/_site-header.scss */
  .site-header .show-menu {
    display: block;
  }
}
/* line 4, ../../sass/menu/menu.scss */
html, body {
  height: 100%;
}

/* line 8, ../../sass/menu/menu.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../../sass/menu/menu.scss */
body {
  font-size: 1.4rem;
}

/* line 14, ../../sass/menu/menu.scss */
a {
  color: black;
}

/* line 18, ../../sass/menu/menu.scss */
a:hover, a:visited {
  text-decoration: none;
  color: black;
}

/* line 23, ../../sass/menu/menu.scss */
.site-content {
  margin-top: 5.8rem;
  background-color: lightgray;
  height: 100%;
  padding: 10px;
}

@media only screen and (max-width: 430px) {
  /* line 31, ../../sass/menu/menu.scss */
  html {
    font-size: 50%;
  }
}
